
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>
<body id="page-top">
    <div th:replace="~{secciones/fragmentosFolk :: Page-Wrapper}"></div>
    <div th:replace="~{secciones/fragmentosFolk :: boton}"></div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>
